<html>
<h1>Welcome to login Page</h1>
	<table align = 'center'>
	<form action = '/login' method = 'POST' align='center'>
		<table>
			<tr>
			<td>RollNumber <td>: <td><input type = 'text' name = 'rollnumber' />
		</tr>
		<tr>
			<td>
			Password <td>: <td>
			<input type = 'password' name = 'password' />
		</table>
		<input type = 'submit' value = 'Login'>
	</form>
</table>
</html>