<html>
	<h1 align = 'center'>Welcome to Registration Page</h1>

		<form action = '/signup' method = 'POST' align = 'center'>
			<table align = 'center'>
				<tr>
					<td>First Name</td>
					<td>:</td>
					<td><input type='text' name = 'firstname'/></td>
				</tr>

				<tr>
					<td>Last Name</td>
					<td>:</td>
					<td><input type='text' name = 'lastname'/></td>
				</tr>

				<tr>
					<td>Roll Number</td>
					<td>:</td>
					<td><input type='text' name = 'rollnumber'/></td>
				</tr>


				<tr>
					<td>Email</td>
					<td>:</td>
					<td><input type='text' name = 'email'/></td>
				</tr>

				<tr>
					<td>Password</td>
					<td>:</td>
					<td><input type='password' name = 'password'/></td>
				</tr>
			<table>
		  <input type = 'submit' value = 'Register'/>
		</form>
		
</html>